Binaries/
Installer/
Expansions/
DspNetworks/Binaries/
Presets/
Samples/
PooledResources/
AdditionalSourceCode/
Packaging/
Scripts/App/
Scripts/ScriptProcessors/
UserPresets/
expansion_info.xml
*.kantban
*build
*dev
*.hxi
*.lwz
*.hxp
*.hr*
*.ch*
*.dat
.DS_Store
.kantban
